<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>初识Vue</title>
		<!-- 服务器资源url-->
		 <!-- <link rel="shortcut icon" th:href="@{/static/ico/favicon.ico}"  type="img/x-icon"/>
		 <link rel="stylesheet" th:href="@{/bootstrap5/css/bootstrap.css}" />
		 <script th:src="@{/static/vue/js/vue.js}"></script>
		 <script th:src="@{/bootstrap5/js/bootstrap.bundle.js}"></script> -->
		<script src="https://cdn.staticfile.org/axios/0.18.0/axios.js"></script>
		
		<!-- 前端自测url-->
		<link rel="shortcut icon" href="../static/ico/favicon.ico"  type="img/x-icon"/>
		<link rel="stylesheet" href="../bootstrap5/css/bootstrap.css" />
		<script src="../static/vue/js/vue.js"></script>
		<script src="../bootstrap5/js/bootstrap.bundle.js"></script>
	</head>
	<body>
		<div id="app">
			<h1>欢迎访问</h1>
			<h1>{{name}},{{id}}</h1>
		</div>
		<script type="text/javascript">
			Vue.config.productionTip=false //设置为 false 以阻止 vue 在启动时生成生产提示
			
			const vm=new Vue({
				el:'#app',
				data:{
					name:'张三',
					id:'123'
				},
				mounted(){
					axios
					.post('/test/two',{ce:'result'})
					.then(function(response){
						vm.name=response.data.person.name
						vm.id=response.data.person.id
					})
					.catch(function(error){
						console.log(error)
					})
				}
			})
		</script>
	</body>
</html>

